@using HikingProject.Models
@model List<HikingProject.Models.Hikes>
@{
}
<div class="row">
    @foreach (var item in Model)
    {
        <p href="#" class="card border m-2 text-center" style="width: 7rem;">
            <div class="card-body">
                <a asp-action="Update" asp-route-id="@item.ID" class="card-text">@item.name</a>
                <p class="card-text">@item.difficulty</p>
                <p class="card-text">@item.distance</p>
                <p class="card-text">@item.duration</p>
                <p class="card-text">@item.elevation_gain</p>
            </div>
        </p> 
    }
</div>